@model IDGS904_tema1.Models.Traduccion

@{
    ViewBag.Title = "BuscarTraducc";
}

<h2>BuscarTraducc</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => Model.Traducir, htmlAttributes:
    new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Traducir, new
           {
               htmlAtributes =
    new { @class = "form-control" }
           })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="custom-radio">
            @Html.RadioButtonFor(model => model.Lenguaje, "1")
            <span class="checkmark"></span>
            Español
        </label>
        <br />
        <label class="custom-radio">
            @Html.RadioButtonFor(model => model.Lenguaje, "2")
            <span class="checkmark"></span>
            Ingles
        </label>
    </div>
    
    <h1>Traduccion: @ViewBag.Resultado</h1>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="BuscarTraduccion" class="btn btn-default" />
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Regresar a RegistrarTraducciones", "RegistrarTraducc", "Traductor")
    </div>



}