@model IDGS904_tema1.Models.Traduccion

@{
    ViewBag.Title = "RegistrarTraducc";
}

<h2>RegistrarTraducc</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Traduccion</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Espanol, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Espanol, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Espanol, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingles, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingles, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ingles, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        <input type="submit" name="Mostrar" value="Mostrar" class="btn btn-default show-table-btn" />
    </div>

    <div class="form-group">
        @Html.ActionLink("Buscar Traducciones", "BuscarTraducc", "Traductor")
    </div>

    <h4>Mostrar registro de traducciones</h4>
    <style>
        .hidden {
            display: none;
        }
    </style>

    <table class="table table-striped">


        <thead>
        <th>Español</th>
        <th>Ingles</th>

        </thead>
        <tbody>
            @foreach (string tem in ViewBag.Archivo)
            {

                <tr>
                    @foreach (string item in tem.Split(' '))
                    {
                        <td>@item</td>
                    }
                </tr>

            }
        </tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mostratabla = document.querySelector('.show-table-btn');
            var tabla = document.querySelector('.table-striped');
            tabla.classList.add('hidden');

            mostratabla.addEventListener('click', function () {
                tabla.classList.remove('hidden');
            });
        });

    </script>



