@model IDGS904_tema1.Models.Alumnos

@{
    ViewBag.Title = "Registrar";
}

<h2>Registrar</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => Model.Name, htmlAttributes:
           new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new
                {
                    htmlAtributes =
               new { @class = "form-control" }
                })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => Model.Edad, htmlAttributes:
           new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Edad, new
                {
                    htmlAtributes =
               new { @class = "form-control" }
                })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => Model.Activo, htmlAttributes:
           new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activo, new
                {
                    htmlAtributes =
               new { @class = "form-control" }
                })
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => Model.Inscrito, htmlAttributes:
           new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inscrito, new
                {
                    htmlAtributes =
               new { @class = "form-control" }
                })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="name" value="Registrar" />
        </div>
    </div>

}